body {

background-color: lightgrey;

}

.alignment {

text-align: center;
margin-left: auto;
margin-right: auto;

}

.innerbox {

    background-color: white;
    border-style: solid;
    border-color: whitesmoke;
    margin-right: 5vh;
    margin-left: 5vh;
    padding-bottom: 5vh;

}

/* .textborder  not needed for this css, makes right and left margin too large*/

#password{

    border-color: lightgrey;
    border-style: dotted;
    border-width: 2px;

}

#hrid {

    margin-left: 5vh;
    margin-right: 5vh;
/* 
    padding-left: 5vh;
    padding-right: 5vh; */

}

.charbutton {

    background-color: lightgoldenrodyellow;
    border: solid;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    
}

.pwinput {

    background-color: lightgoldenrodyellow;
    border: solid;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    
}

.bottombuttons {

    color: violet;
    border: solid;
    border-width: 2px;
    margin-left: 5vh;
    margin-right: 5vh;
    display:flex;
    justify-content: space-between

}

#generate {
    
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;

    
}

#copy {

    background-color: grey;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    justify-content: right;
}